/* ---------- Print CSS ---------- */
@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .cvPage {
    box-shadow: none !important;
    margin: 0 auto !important;
    width: 210mm !important;
    /* A4 exact width */
    height: 297mm !important;
    /* A4 exact height */
    padding: 0 0 60mm 0 !important;
    /* adjust spacing */
    background: white;
    page-break-inside: avoid;
    page-break-before: always;
    page-break-after: always;
  }

  /* Print me sirf CV dikhana */
  body * {
    visibility: hidden;
  }

  .cvPage,
  .cvPage * {
    visibility: visible;
  }

  /* Backgrounds ya extra cheezein hide karna */
  canvas,
  .vanta-canvas,
  .importsBtns {
    display: none !important;
  }

  .cvPage:first-child {
    margin-top: 0 !important;
    /* First page normal */
  }

  .cvPage:not(:first-child) {
    margin-top: 50px !important;
    /* Next pages same top margin */
  }
}

/* ---------- Screen CSS ---------- */
.mobileViewCv {
  width: 100%;
  height: 100%;
}

.insideCv {
  overflow: auto;
  background: white;
}

.cvPage {
  width: 210mm;
  min-height: 297mm;
  margin: 0 auto 50px auto;
  background: white;
  padding: 15mm;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  page-break-inside: auto;
}

.cvPage p {
  margin-bottom: 0;
}

.importsBtns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 15px;
  flex-wrap: wrap;
}

.nameCv {
  font-size: 27px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
}

.name-heading-section {
  border-bottom: 0.5px solid #7e7e7e;
  padding-bottom: 10px;
}

.socialLinksCv {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  line-height: 10px;
  gap: 8px;
  justify-content: center;
  margin-top: 7px;
  color: blue;
}

.socialLinksCv span a {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.profileSection {
  margin-bottom: 15px;
  page-break-inside: avoid;
  break-inside: avoid;
}

.profileSection .heading {
  font-size: 18px;
  font-weight: 600;
  margin-top: 18px;
}

.cvPage .borderBottom {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  width: 85%;
}

.cvPage .dataContentDesc {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 10px;
}